/* Footer*/
.rodape-bg {
background: var(--cor-p2);
}
.rodape {
width: 100%;
margin-top: 88px;
}
.footer-contato .links-contato {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
padding: 20px 0;
border-bottom: 3px solid var(--cor-p1);
}
.footer-contato .links-contato li{
list-style: none;
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}
.footer-contato .links-contato li img{
padding-right: 20px;
}
.footer-contato .links-contato li:nth-child(n+3):nth-child(-n+4){
padding-left: 74px;
width: 200px;
}
.footer-contato .links-contato li:nth-child(2){
width: 200px;
}
.footer-contato .links-contato li:first-child{
padding-right: 20px;
font-weight: bold;
}
.footer-copy p {
cursor: pointer;
padding-top: 20px;
padding-bottom: 20px;
}
@media (max-width: 1050px) {
.footer-contato .links-contato li{
padding: 10px;
}
.footer-contato .links-contato li:first-child{
padding-right: 10px;
font-weight: bold;
}
.footer-contato .links-contato li:nth-child(n+3):nth-child(-n+4){
padding-left: 10px;
width: 200px;
}
}