/* Mapa */
.mapa{
display: block;
}
.mapa h2 {
padding-top: 80px;
padding-bottom: 31px;
}
.mapa p {
padding-bottom: 41px;
}
.mapa iframe {
max-width: 100%;
height: 346px;
}
@media (max-width: 600px) {
.mapa h2 {
padding-top: 120px;
}
}